body
{
    background-color: #f8f8f8!important;
}

#profile-wrapper
{
    text-align: center;
}

#profile-pic
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul
{
    padding: 0;
    list-style-type: none;
}

.social-links {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social {
    width: 30px; /* Adjust size as needed */
    height: auto;
    transition: transform 0.2s;
}

.social:hover {
    transform: scale(1.1); /* Little pop effect on hover */
}