<!-- Django way of knowing a css file. This HAS to be on the first line -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric A. dos Santos</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static '/images/ericsprofile.jpeg' %}">
                    {% if bio %}
                    <hr>
                    <h4>Hello, my name's {{ bio.name }}!</h4>
                    <p>{{ bio.introduction }}</p>
                    {% else %}
                    <h4>Welcome to my portfolio!</h4>
                    <p>Please add a Bio in the Admin panel.</p>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>LinkedIn</h4>
                    <hr>

                    <p>I am actively transitioning my career into Software Development and Programming, driven by a deep fascination with how code powers the digital world. 
                    What began as a curiosity sparked by web development tutorials has evolved into a dedicated pursuit of formal CS education and hands-on full-stack engineering.
                    </p>

                    <ul class="social-links">
                        <li><img class="social" src="" alt="linkedin"></li>
                        <li><img class="social" src="" alt="github"></li>
                        <li><img class="social" src="" alt="instagram"></li>
                    </ul>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                {% for exp in experiences %}
                <div class="card card-body mb-3">
                    <h5>{{ exp.title }}</h5>
                    <hr>
                    <p>{{ exp.description }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I know</h5>
                    <hr>
                    <p>CS College Degree (Ongoing)</p>
                    <p>Technical IT Course (Ongoing)</p>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>How I learn</h5>
                    <hr>
                    <p>Apart from the CS College, and the Technical Course.
                       I go by trying to writte code with the aid of YT videos, outside courses and AI as a tool to learn and depth explanation of what I'm doing.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My goals</h5>
                    <hr>
                    <p>I am focused on mastering full-stack architecture and have a keen interest in mobile development—leveraging the power of 'pocket computers' to solve real-world problems.</p>
                </div>
            </div>

        </div>
        <br>
    </div>

</body>
</html>